@{
    ViewBag.Title = "Byid";
    CTCCGoods.Controllers.ctorder order = ViewBag.order;
    CTCCGoods.Controllers.cuser user = (CTCCGoods.Controllers.cuser)Session["loginuser"];
}
@section style {
    <style>
        .list_div {
            width: 50%;
            margin-top: 20px;
            position: relative;
        }

        .add-btn-open {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: darkgreen;
            color: #ffffff;
            font-size: 20px;
            line-height: 20px;
            right: 0;
            top: 5px;
            text-align: center;
        }

            .add-btn-open:hover {
                cursor: pointer;
            }

        .verify hr {
            display: block;
            border-top: 2px solid black;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .box {
            width: 80%;
            margin: 0 auto;
            min-width: 800px;
        }

        .form-group {
            margin: 15px 25px 0 0;
        }

        .list_div {
            width: 50%;
            margin-top: 20px;
            position: relative;
        }
        #list select.form-control {
            width: calc(100% - 44px);
            display: inline;
        }
        .add-btn-open {
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: darkgreen;
            color: #ffffff;
            font-size: 20px;
            line-height: 20px;
            right: 0;
            top: 5px;
            text-align: center;
        }

            .add-btn-open:hover {
                cursor: pointer;
            }

        .good_number {
            width: 200px;
        }

        .verifyperson {
            margin-right: 5%;
            font-size: 20px;
        }

        #opinion {
            margin-right: 10%;
            width: 30%;
        }

        .agreebtn {
            margin-right: 5%;
        }

        .cjbtndiv {
            margin-bottom: 20px;
        }

        .cjcontent table {
            width: 50%;
        }

        .cklist {
            margin-left: -8%;
            margin-right: 8%;
        }

        i {
            font-style: normal;
        }

        .oldver b {
            display: inline-block;
            width: 1px;
            height: 20px;
            border-left: 2px solid #cccccc;
            margin: 0 20px;
            position: relative;
            top: 5px;
        }

        .oldver span {
            font-weight: 700;
        }

            .oldver span i {
                font-weight: 400;
            }

        .oldlist {
            width: 50%;
            margin-top: 10px;
        }

        .add-btn-close:hover {
            cursor: not-allowed;
        }

        .cjtb tr {
            height: 40px;
        }

            .cjtb tr td:first-child {
                width: 100px;
            }

            .cjtb tr td:last-child {
                width: 600px;
            }

        .verify hr {
            display: block;
            border-top: 2px solid black;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        caption {
            text-align: center;
            color: #8a6d3b;
        }

            caption i {
                font-weight: 700;
            }
    </style>
}
@section script{
    <script src="/js/goodsrefer.js"></script>
    <script>
        //确定确认
        function confirmSure() {
            if (confirm('是否确定？')) {
                return true;
            }
            return false;
        }
        //附件确认
        function fjSure(x) {
            var $f = $(x).find("input[type=file]");
            var len = $f[0].files.length;
            var flag = true;
            if (len == 0) {
                flag = confirm("您尚未上传附件，确定继续此操作吗？");
            }
            if (!flag) {
                return false;
            }
            return confirmSure();
        }

        function getSelectInfo() {
            var cityId = $('#cityList').val();
            var changId = $('#chang').val();
            if (cityId == -1) {
                return false;
            }
            var cityId = $('#cityList').val();
            cityIdCache = cityId;
            $.post('/trans/querygoodbycityid', { 'cityId': cityId, 'changId': changId }, function (result) {
                if (result.ok) {
                    goodsInfo = result.goodList;
                    $.goodsrefer(goodsInfo)
                }
            });
        }
        if ($('#formid').val()) {
            getSelectInfo()
        }
        //弹出消息
        if (location.href.includes("msg")) {
            var msg = location.href.split("?")[1];
            alert(decodeURI(msg.split("=")[1]));
            location.href = location.href.split("?")[0];
        }
        $(function () {
            var chsum = {
                @if (ViewBag.chsum != null)
                {
                    foreach (var x in ViewBag.chsum)
                    {
                        <text>@x.Value.gid:@x.Value.gnum,</text>
                    }
                }
            }
            //产品类型选择发生更改
            //$('#goodList').on('change', function () {
            //    var goodId = $('#goodList').val();
            //    $.get('/trans/changegood', { 'goodId': goodId }, function (result) {
            //        if (result.ok) {
            //            $('#cityList').empty();
            //            $('#list').empty().append('<tr><td>货物名称</td><td>数量</td><td></td></tr>');
            //            if (!result.city) {
            //                $('#cityList').attr("disabled", "disabled");
            //                $('#cityList').append('<option value="-1">无</option>');
            //            } else {
            //                $('#cityList').removeAttr("disabled");
            //                $(result.city).each(function (index, item) {
            //                    $('#cityList').append('<option value=' + item['id'] + '>' + item['name'] + '</option>');
            //                });
            //            }
            //        }
            //    });
            //});
            //城市选择发生更改
            $('#cityList,#chang').on('change', function () {
                $('#list').empty().append('<tr><td>货物名称</td><td>数量</td><td></td></tr>');
            });
            //添加产品调货信息
            var goodsInfo = null;
            var cityIdCache = null;
            var addItem = function (goodList) {
                var goods = "";
                for (var i = 0; i < goodList.length; i++) {
                    goods += "<option value='" + goodList[i]["id"] + "'>" + goodList[i]["name"] + "</option>";
                }
                var newitem = '<tr><td><select class="goodslist form-control">' + goods + '</select><a class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a></td><td><input type="number" class="goodnumber form-control"></td><td><button type="button" class="del btn btn-danger">删除</button><span class="remainnum">' + goodList[0]['stock'] + '</span></td></tr>';
                $("#list").append(newitem);
            }
            $('#additem').on('click', function () {
                var cityId = $('#cityList').val();
                var changId = $('#chang').val();
                if (cityId == -1) {
                    return false;
                }
                //if (cityId === cityIdCache && goodsInfo && goodsInfo.length !== 0) {
                //    addItem(goodsInfo);
                //} else {
                    var cityId = $('#cityList').val();
                    cityIdCache = cityId;
                    $.post('/trans/querygoodbycityid', { 'cityId': cityId,'changId':changId }, function (result) {
                        if (result.ok) {
                            goodsInfo = result.goodList;
                            if (goodsInfo != null) {
                                addItem(goodsInfo)
                            }
                            $.goodsrefer(goodsInfo)
                        }
                    });
                //}
        });
        $("body").on("click", "#list a", function (e) {
            console.log($(this).parent().find('select'))
            $(this).parent().find('select').goodsrefer();
        });

            //删除产品调货信息
            $('#list').on('click', '.del', function () {
                $(this).parent().parent().remove();
            });
            //修改剩余数量信息
            $('#list').on('change', '.goodslist', function () {
                var goodId = $(this).val();
                var that = this;
                $(goodsInfo).each(function (index, item) {
                    if (item['id'] == goodId) {
                        $(that).parent().parent().find('span.remainnum').text(item['stock']);
                    }
                });
            });
            var cityId2 = $('#cityList').val();
            var changId2 = $('#chang').val();
            if (cityId2 == -1) {
                return false;
            }
            $.post('/trans/querygoodbycityid', { 'cityId': cityId2, 'changId': changId2 }, function (result) {
                if (result.ok) {
                    var data = result.goodList;
                    $('#list span.remainnum').each(function (i, x) {
                        $(data).each(function (index, item) {
                            if ($(x).parent().parent().find('select').attr('gid') == item['id']) {
                                $(x).text(item['stock']);
                            }
                        });
                    });
                }
            });
            //if ($('.sy')) {
            //    var cityId = $('#cityList').val();
            //    var changId = $('#chang').val();
            //    if (cityId == -1) {
            //        return false;
            //    }
            //    $.post('/trans/querygoodbycityid', { 'cityId': cityId, 'changId': changId }, function (result) {
            //        if (result.ok) {
            //            var a = result.goodList;
            //            $(a).each(function (index, item) {
            //                $('.sy').each(function (i, it) {
            //                    if (item['id'] == $(it).parent().parent().find('select').attr('gid')) {
            //                        $(it).text(item['stock']);
            //                    }
            //                });
            //            });
            //        }
            //    });
            //}
            //保存
            $('#save').on('click', function () {
                var $trs = $('#list').find('tr');
                var cityId = $('#cityList').val();
                var chang = $('#chang').val();
                var s = '';
                var id = -1;
                var ls = location.href.split("/");
                if (!isNaN(ls[ls.length - 1])) {
                    id = ls[ls.length - 1];
                }
                var goodIdCache = [];
                for (var i = 1; i < $trs.length; i++) {
                    var goodId = $($trs[i]).find('.goodslist').val();
                    var goodNum = $($trs[i]).find('.goodnumber').val();
                    var stock = $($trs[i]).find('span').text();
                    if (goodNum === '') {
                        alert('参数填写不正确');
                        return false;
                    }
                    if (parseInt(goodNum) > parseInt(stock)) {
                        alert('参数填写不正确');
                        return false;
                    }
                    var ogid = $($trs[i]).attr("ogid");
                    if (!ogid) {
                        ogid = "";
                    }
                    if ($.inArray(goodId, goodIdCache) != -1) {
                        alert('不能存在两种相同的货物');
                        return false;
                    }
                    goodIdCache.push(goodId);
                    if (i == $trs.length - 1) {
                        s += goodId + "," + goodNum + "," + ogid;
                    } else {
                        s += goodId + "," + goodNum + "," + ogid + "|";
                    }
                }
                $.post('/trans/save', { 'cityId': cityId, 'changId': chang, 'data': s, "id":id }, function (result) {
                    if (result.ok) {
                        location.href = '/trans/byid?id=' + result.id;
                    } else {
                        alert(result.msg);
                    }
                });
            });


        //if ($(".cjcontent")) {
        //    var spans = $(".cjcontent").find("span");
        //    var inhi = $(".cjcontent").find(".maxgnum");
        //    var isz = 0;
        //    for (var i = 0; i < spans.length; i++) {
        //        var gid = $(spans[i]).parent().prev().find(".gidhidden").val();
        //        var chnum = chsum[gid];
        //        if (chnum == 0) isz++;
        //        $(spans[i]).text(chnum);
        //        $(inhi[i]).val(chnum);
        //    }
        //    if (isz == spans.length) {
        //        $('#sendVerify').hide();
        //    }
        //}

            //省公司审核
            //同意操作
            $("#content").on("click", ".sgsagreebtn", function () {
                if (!confirmSure()) return false;
                var isAgree = $(this).text() == "同意";
                var sgsOpinion = $("#sgsOpinion").val();
                var id = location.href.split("/")[location.href.split("/").length - 1];
                $.post("/trans/sgsverify", { "status": isAgree, "opinion": sgsOpinion, "id": id }, function (result) {
                    if (result.ok) {
                        location.reload();
                    } else {
                        alert(result.msg);
                    }
                });
            });

            //关闭
            $("#close").click(function () {
                var ls = location.href.split("/");
                var id = ls[ls.length - 1];
                var status = $('#formstatus').val();
                if (status == '已作废') {
                    alert("此订单已作废，关闭无效");
                    return false;
                }
                if (isNaN(id)) {
                    alert("请先保存再关闭");
                    return false;
                }
                if (!confirm("关闭后无法恢复，确定关闭订单吗？")) {
                    return false;
                }
                $.post("/trans/close", { "id": id, 'status': status }, function (result) {
                    if (result.ok) {
                        alert(result.msg);
                        location.reload();
                    } else {
                        alert(result.msg);
                    }
                });
            });

        //$("#content").on("click", ".dsagreebtn", function () {
        //    if (!confirmSure()) return false;
        //    var dsovid = $("#dsovid").val();
        //    var opinion = $("#opinion").val();
        //    var id = location.href.split("/")[location.href.split("/").length - 1];
        //    $.post("/trans/verifyds", { "opinion": opinion, "id": id, "ovid": dsovid }, function (result) {
        //        if (result.ok) {
        //            location.reload();
        //        } else {
        //            alert(result.msg);
        //        }
        //    });
        //});
        if ($('#dsreceive')) {
            $('#dsreceive').on('click', function () {
                if (!confirmSure()) return false;
                var opinion = $("#dsopinion").val();
                var id = location.href.split("/")[location.href.split("/").length - 1];
                $.post("/trans/verifyds", { "opinion": opinion, "id": id}, function (result) {
                    if (result.ok) {
                        location.reload();
                    } else {
                        alert(result.msg);
                    }
                });
            });
        }
        if ($('#arriveTime')) {
            laydate.render({
                elem: '#arriveTime'
            });
        }


        $("#discarded").on("click", function () {
            var status = $('#formstatus').val();
            if (status == '已作废') {
                alert('此订单已作废');
                return false;
            }
            if (!confirm('此操作不可逆，作废后该订单不可恢复')) {
                return false;
            }
            if (!confirm('此操作需要谨慎执行，您确定作废该订单吗？')) {
                return false;
            }
            var ls = location.href.split("/");
            var id = ls[ls.length - 1];
            $.post("/trans/discarded", { "id": id, "status": status }, function (result) {
                if (result.ok) {
                    location.reload();
                } else {
                    alert(result.msg);
                }
            });
        });


        $("#close").click(function () {
            var ls = location.href.split("/");
            var id = ls[ls.length - 1];
            var status = $('#formstatus').val();
            if (status == '已作废') {
                alert("此订单已作废，关闭无效");
                return false;
            }
            if (isNaN(id)) {
                alert("请先保存再关闭");
                return false;
            }
            if (!confirm("关闭后无法恢复，确定关闭订单吗？")) {
                return false;
            }
            $.post("/trans/close", { "id": id, 'status': status }, function (result) {
                if (result.ok) {
                    alert(result.msg);
                    location.reload();
                } else {
                    alert(result.msg);
                }
            });
        });
        });
    </script>
}
<div class="container">
    <div id="btng">
        <button id="save" type="button" class="btn btn-default dis" @(order.status == null || order.status == 0 ? "" : "disabled")>保存</button>
        <button id="close" type="button" class="btn btn-primary">关闭</button>
        <button id="discarded" type="button" class="btn btn-danger">作废</button>
    </div>
    <div class="modal-body" id="content">
        <form class="">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="formid">单号</label>
                    <input type="text" class="form-control" autocomplete="off"
                           readonly value="@order.code" id="formid">
                </div>
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-3">
                    <label for="createperson">创建人</label>
                    <input type="text" class="form-control" autocomplete="off"
                           value="@order.createuname" readonly>
                </div>
                <div class="col-xs-1"></div>
                <div class="form-group col-xs-3">
                    <label for="createtime">创建时间</label>
                    <input type="text" class="form-control" autocomplete="off"
                           value="@order.createtime" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-xs-3">
                    <label for="status">状态</label>
                    <input type="text" class="form-control" autocomplete="off" id="formstatus"
                           value="@CTCCGoods.Controllers.O2.GED(order.status)" readonly>
                </div>
                <div class="col-xs-1"></div>
                <div class="form-group  col-xs-3">
                    <label for="formoptime">操作时间</label>
                    <input type="text" class="form-control" autocomplete="off"
                           value="@order.statustime" readonly>
                </div>
                <div class="col-xs-1"></div>
                <div class="form-group  col-xs-3">
                    <label for="formprocess">代办流程</label>
                    <input type="text" class="form-control" autocomplete="off"
                           value="@(order.status.HasValue&&order.status.Value.GetHashCode() >=5? "-" : CTCCGoods.Controllers.O2.GED(order.status+1))" readonly>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="formprocess">地市<span></span></label>
                    <select class="form-control" id="cityList" @(order.id.HasValue ? "disabled" : "")>
                        @if (order.id.HasValue)
                        {
                            <option value="@order.receiveuid">@order.receiveuname</option>
                        }
                        else
                        {
                            foreach (var item in ViewBag.city)
                            {
                                <option value="@item["id"]">@item["name"]</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-xs-1"></div>
                <div class="form-group  col-xs-3">
                    <label for="formprocess">厂家</label>
                    <select class="form-control" id="chang" @(order.id.HasValue ? "disabled" : "")>
                        @if (order.id.HasValue)
                        {
                            <option value="@order.changid">@order.changname</option>
                        }
                        else
                        {
                            foreach (var item in ViewBag.chang)
                            {
                                <option value="@item["id"]">@item["name"]</option>
                            }
                        }
                    </select>
                </div>
                @*<div class="col-xs-1"></div>
                    <div class="form-group  col-xs-3">
                        <label for="formprocess">型号</label>
                        <select class="form-control" id="goodList" @(order.id.HasValue ? "disabled" : "")>
                            @if (order.id.HasValue)
                            {
                                <option value="-2">-</option>
                            }
                            else
                            {
                                <option value="-1">All</option>
                                foreach (var item in ViewBag.good)
                                {
                                    <option value="@item["id"]">@item["name"]</option>
                                }
                            }
                        </select>
                    </div>*@
            </div>
        </form>
        <div class="list_div">
            <span title="添加" id="additem" class="add-btn-open">+</span>
            <table id="list" class="table table-condensed">
                <tr>
                    <td>货物名称</td>
                    <td>数量</td>
                    <td></td>
                </tr>
                @if (order.status.HasValue && order.status != CTCCGoods.Controllers.torderstatus.create)
                {
                    foreach (var good in order.goods)
                    {
                        <tr ogid="@good.Value.id">
                            <td>
                                <select class="goodslist form-control" gid="@good.Value.gid" disabled>
                                    <option value="@good.Value.gid">@good.Value.gname</option>
                                </select>
                                <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                            </td>

                            <td>
                                <input type="number" autocomplete="off"
                                       class="goodnumber form-control" value="@good.Value.gnum" disabled>
                            </td>
                            <td>
                                <button type="button" class="del btn btn-danger" disabled>删除</button>
                                @*<span class="sy"></span>*@
                            </td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var good in order.goods.Values)
                    {
                        <tr ogid="@good.id">
                            <td>
                                <select class="goodslist form-control" gid="@good.gid">
                                    @foreach (var item in ViewBag.goodList)
                                    {
                                        <option value="@item["id"]" @(good.gid == item["id"] ? "selected" : "")>@item["name"]</option>
                                    }
                                </select>
                                <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
                            </td>
                            <td>
                                <input type="number" autocomplete="off"
                                       class="goodnumber form-control" value="@good.gnum" />
                            </td>
                            <td>
                                <button type="button" class="del btn btn-danger">删除</button>
                                <span class="remainnum"></span>
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div id="" class="alert alert-warning form-inline" onsubmit="return confirmSure();" style="display:@(order.status.HasValue&&order.status == CTCCGoods.Controllers.torderstatus.create?"block":"none")" role="alert">
            <form action="/trans/submit" method="post" enctype="multipart/form-data">
                <input type="hidden" name="orderid" value="@(order.id.HasValue?order.id:0)" />
                附件：<input type="file" style="display:inline-block;" name="file" value="" multiple />
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
        @foreach (var ver in order.verifies)
        {
            string style = ver.Value.status == CTCCGoods.Controllers.verifystatus.agree ? "success" : "danger";
            <div class="alert alert-@style verify oldver" role="alert">
                <span>审批类型：<i>@(CTCCGoods.Controllers.O2.GED(ver.Value.verifyno))</i></span>
                <b></b>
                <span>审批人：<i>@ver.Value.uname</i></span>
                <b></b>
                <span>审批时间：<i>@ver.Value.createtime</i></span>
                <b></b>
                <span>审批状态: <i>@(CTCCGoods.Controllers.O2.GED(ver.Value.status))</i></span>
                <b></b>
                <span>审批意见：<i>@ver.Value.des</i></span>
                @{
                    var theUser = CTCCGoods.Controllers.DB.QueryAsDics("select * from cuser where id = " + ver.Value.uid);
                }
                <b></b>
                <span>联系人：<i>@theUser[0]["contacts"]</i></span>
                <b></b>
                <span>联系方式：<i>@theUser[0]["tel"]</i></span>
                @*@if (ver.Value.goods.Count != 0)
                    {
                        <table class="table table-bordered oldlist">
                            <caption>货期名称:<i>@ver.Value.sendname</i> | 计划到货时间:<i>@ver.Value.plantime.ToString().Split(' ')[0]</i> | 督导人:<i>@ver.Value.duname</i></caption>
                            <tr>
                                <td>货物名称</td>
                                <td>数量</td>
                            </tr>

                            @foreach (var good in ver.Value.goods)
                            {
                                <tr>
                                    <td>@good.Value.gname</td>
                                    <td>@good.Value.gnum</td>
                                </tr>
                            }
                        </table>
                    }*@
                @if (ver.Value.attachments.Count != 0)
                {
                    <div>
                        <strong>附件：</strong>
                        @foreach (var x in ver.Value.attachments)
                        {
                            <a href="@x.Value.url" target="_blank">@x.Value.name</a>
                        }
                    </div>
                }
                @*@foreach (var x in ver.Value.verifies)
                    {
                        <hr />
                        <span>审批类型：<i>@(CTCCGoods.Controllers.O2.GED(x.Value.verifyno))</i></span>
                        <b></b>
                        <span>审批人：<i>@x.Value.uname</i></span>
                        <b></b>
                        <span>审批时间：<i>@x.Value.createtime</i></span>
                        <b></b>
                        <span>审批状态: <i>@(CTCCGoods.Controllers.O2.GED(x.Value.status))</i></span>
                        <b></b>
                        <span>审批意见：<i>@x.Value.des</i></span>
                        var auser = CTCCGoods.Controllers.DB.QueryAsDics("select * from cuser where id = " + x.Value.uid);
                        <b></b>
                        <span>联系人：<i>@auser[0]["contacts"]</i></span>
                        <b></b>
                        <span>联系方式：<i>@auser[0]["tel"]</i></span>
                        if (x.Value.attachments.Count != 0)
                        {
                            <div>
                                <strong>附件：</strong>
                                @foreach (var a in x.Value.attachments)
                                {
                                    <a href="@a.Value.url" target="_blank">@a.Value.name</a>
                                }
                            </div>
                        }
                    }*@
                @*@if (ver.Value.verifyno == CTCCGoods.Controllers.torderstatus.cjsend && ver.Value.status == CTCCGoods.Controllers.verifystatus.agree)
                    {
                        <hr />
                        <div class="form-inline">
                            <span class="verifyperson">地市确认收货</span>
                            备注：
                            <input type="text" value="" class="form-control" autocomplete="off"
                                   id="opinion" />
                            <input type="hidden" id="dsovid" value="@ver.Value.id" />
                            <button type="button" class="btn btn-info agreebtn dsagreebtn">确认收货</button>
                        </div>
                    }*@
            </div>
        }
        @if (order.status.HasValue && order.status.Value + 1 == CTCCGoods.Controllers.torderstatus.dsreceive)
        {
            <div class="alert alert-warning verify oldver" role="alert">
                <form action="/trans/verifyds" class="form-inline" method="post" onsubmit="return confirmSure()" enctype="multipart/form-data">
                    <div class="form-inline">
                        <span class="verifyperson">地市确认收货</span>
                        备注：
                        <input type="text" value="" class="form-control" autocomplete="off"
                               name="opinion" />
                        <input type="hidden" name="id" value="@order.id" />
                        <button type="submit" class="btn btn-info">确认收货</button>
                        附件：<input type="file" name="file" value="" multiple />
                    </div>
                </form>
            </div>
        }
        @if (order.status.HasValue && order.status.Value + 1 == CTCCGoods.Controllers.torderstatus.sgsverify)
        {
            <div class="alert alert-warning form-inline" role="alert">
                <span class="">省公司审核</span>
                审批意见：
                <input type="text" value="" class="form-control" autocomplete="off"
                       id="sgsOpinion" />
                <button type="button" class="btn btn-info sgsagreebtn">同意</button>
                <button type="button" class="btn btn-danger sgsagreebtn">不同意</button>
            </div>
        }
        else if (order.status.HasValue && order.status.Value + 1 == CTCCGoods.Controllers.torderstatus.cjconfirm)
        {
            <div class="alert alert-warning verify" role="alert">
                <form class="form-inline" action="/trans/cjverify" method="post" onsubmit="return fjSure(this)" enctype="multipart/form-data">
                    <input type="hidden" name="orderid" value="@order.id.Value" />
                    <span class="verifyperson">厂家确认</span>
                    备注：<input type="text" value="" class="form-control" autocomplete="off"
                              name="opinion" />

                    <input type="submit" class="btn btn-info agreebtn" name="submit" value="确认" />
                    附件：<input type="file" name="file" value="" multiple />
                </form>
            </div>
        }
        else if (order.status.HasValue && (order.status.Value + 1 == CTCCGoods.Controllers.torderstatus.cjsend))
        {
            <div class="alert alert-warning verify" id="sendVerify" role="alert">
                <form action="/trans/dssend" class="form-inline" method="post" onsubmit="return fjSure(this)" enctype="multipart/form-data">
                    <input type="hidden" name="orderid" value="@order.id.Value" />
                    <div class="cjbtndiv">
                        <span class="verifyperson">地市发货</span>
                        <table class="cjtb">
                            <tr>
                                <td>备注</td>
                                <td>
                                    <input type="text" value="" autocomplete="off" class="form-control" name="opinion" />
                                </td>
                            </tr>
                            @*<tr>
                                    <td>货期名称</td>
                                    <td>
                                        <input type="text" value="" autocomplete="off" class="form-control" name="name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>计划到货时间</td>
                                    <td>
                                        <input type="text" id="arriveTime" name="time" value="" autocomplete="off" class="form-control" />
                                    </td>
                                </tr>*@
                        </table>
                    </div>
                    <div class="cjcontent">
                        <table class="table table-condensed">
                            <tr>
                                <td>货物名称</td>
                                <td>数量</td>
                            </tr>
                            @{int i = 0; }
                            @foreach (var good in order.goods)
                            {

                                <tr ogid="@good.Value.id">
                                    <td>
                                        <input type="text" value="@good.Value.gname" class="form-control" disabled />
                                        <input type="hidden" class="gidhidden" name="gid[@i]" value="@good.Value.gid" />
                                    </td>
                                    <td>
                                        <input disabled style="display:inline;" type="number" class="good_number form-control" value="@good.Value.gnum" />
                                        <input type="hidden" name="gnum[@i]" value="@good.Value.gnum" />
                                        <span style="margin-left:20px;"></span>
                                        <input type="hidden" name="gmax[@i]" class="maxgnum" value="@good.Value.gnum" />
                                    </td>
                                </tr>
                                i++;
                            }
                        </table>

                        附件：
                        <input type="file" id="file" name="file" value="" multiple style="display:inline" />
                        <button type="submit" name="submit" class="btn btn-info agreebtn cjagreebtn" value="true">发货</button>
                        <button type="submit" name="submit" class="btn btn-danger" value="false">不同意</button>
                    </div>
                </form>
            </div>
        }
    </div>
</div>